<% if notice.present? %>
  <p class="alert alert-primary w-100 position-absolute"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger w-100 position-absolute"><%= alert %></p>
<% end %>
